# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# SSL Keys
*.pem

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Settings
.vscode/settings.json

# Testing files
genesis_test.json

# Runtime-Generate Support Files
config/data/