# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# SSL Keys
*.pem

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Settings
.vscode/settings.json

# Testing files
genesis_test.json

# Runtime-Generated Support Files
config/data/
types/data/db/chain/
common/data/keystore/
data/db/chain
types/data/db/coordination_chain/chain.gob