# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# SSL Keys
*.pem

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Settings
.vscode/settings.json
.idea/

# Testing files
server.sh
genesis_test.json

# Runtime-Generated Support Files
*.gob
config/data/
types/data/db/chain/
common/data/keystore/
data/db/chain
types/data/db/coordination_chain/
types/data/db/coordination_chain/chain.gob
types/genesis.json
types/data/config/config.json
accounts/data/
data/keystore/
data/config/
accounts/genesis.json
data/db/coordination_chain/chain.json
.vagrant/
data/state/
data/
examples/config/

# Vendor
vendor/